/*General styling*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.marg-b-10 {
    margin-bottom: 5px;
}

.marg-b-30{
     margin-bottom: 30px;
}

.btn {
    background-color: #d72385;
    text-decoration: none;
    padding: 8px 15px;
    color:white;
    border-radius: 9px;
}

section {
    padding: 30px 0;;
}



/*Independent Styling*/
/*Navigation*/

.navigation {
    background-color: #0F2243;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.navigation img {
    width: 70px;
    margin-right: 5px;
}

.navigation .menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navigation .menuitems {
    display: inline;
    padding: 2px 10px;
}

.navigation .menuitems.active {
    /*An actif link which is bold and underlined*/
    font-weight: bold;
    border-bottom: 2px solid white;
}

/*Section Header*/

.section.header1 .container {
    text-align: center;
    padding-bottom: 10px;
}

.section.header2 {
    background-color: #EEEEEE;
}

.section.header2 .container {
    display: flex;
    justify-content: center;

}

.section.header2 img {
    width: 340px;
    margin-right: 100px;
}

footer {
    color: white;
    background-color: #0F2243;
    padding: 20px 0;
}